[Unit]
Description=Prometheus smartctl exporter
After=network.target

[Service]
ExecStart=/usr/bin/smartctl_exporter
RuntimeMaxSec=1h
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
